.linktree-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 170px); /* Deixa espaço para o header e o footer */
  padding: 20px;
  background-color: var(--background-color3);
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  flex-direction: column;
  gap: 15px;
}

.social-links a {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  width: 60%;
  background-color: var(--button-color);
  color: var(--text-color2);
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 0 10px var(--box-shadow);
}

.social-links a:hover {
  background-color: var(--button-hover-color);

}

.photo-section {
  width: 50%;
  height: 100%;
  /* background: url('../assets/linktree.jpg') no-repeat center center; */
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--box-shadow);  
}

@media (max-width: 768px) {
  .linktree-container {
    flex-direction: column-reverse;
  }

  .photo-section {
    width: 50%;
    height: 50%;
  }

  .social-links {
    width: 100%;
    align-items: center;
  }
}
