.header-container {
  background-color: var(--background-color1);
  color: var(--text-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: 100vw;
  padding: 15px 20px;
  box-sizing: border-box;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 18px;
  font-weight: bold;
}

.nav-links a:hover {
  color: var(--button-hover-color);
}
