.footer-container {
  background-color: var(--background-color2);
  color: var(--text-color);
  text-align: center;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
}

.footer-container a {
  color: var(--text-color);
  text-decoration: none;
}

.footer-container a:hover {
  color: var(--button-hover-color);
}
